body {
    font-family: Arial, sans-serif;
    background-color: rgb(29, 202, 188);
    margin: 0;
    padding: 0;
    /* border: 2px white solid;

    border-radius: 25px; */

}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    /* background-color: rgb(29, 202, 188); */
    height: 100vh;
    width: 100%;

}

.header {
    background-color: #4caf50;
    color: white;
    padding: 1rem;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.search-container {
    margin: 20px;
}

.search-bar {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.content {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-top: 2rem;
    gap: 2rem;
}

.form-container, .list-container {
    flex: 1;
   
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }
}

.heading{
    color:yellow;
}
.Y{ 
    background: linear-gradient(to right, rgba(233, 10, 40, 0) 0%, rgba(18, 199, 199, 0.5) 20%, rgba(211, 6, 142, 0) 61%), linear-gradient(rgb(197, 23, 159) 52%, rgb(168, 7, 218) 60%, rgb(14, 26, 197) 61%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Nav-Logo{
    margin-top: 20px;
}
.icon{
    font-size: 30px;
    color:blue;
}
@media (max-width: 600px){
    .Nav-Logo{
        font-size: 20px;
        padding-left:60px;
        text-align: center;
        padding-right:60px;
    }
    .icon{
        font-size: 22px;
    }
    .search-bar{
       margin-left: 20px;
    }
}
@media (max-width:320px){
    .search-bar{
        margin-left: 20px;
    }
}
